section.container.index
	// 
	h1
		// 
	.panel.panel-default
		padding 15px
		display flex
		justify-content center
		flex-wrap wrap
		.form-group
			label
				// 
			select.form-control
				// 
			input
				// 
			ul.list-group
				position absolute
				top 100%
				
				li.list-group-item
					cursor pointer
					&.selected
						background-color a