doctype
html(lang="en")
	block vars
		- var title = ''
	head
		if title
			title Movies and Series - #{title}
		else
			title Movies and Series
		include ../molecules/style
		include ../molecules/head
	body
		include ../organisms/header
		main
			block content

		include ../organisms/footer
		include ../molecules/script