extends templates/layout
block vars
	- title = 'Search for your favorites'
block content
	section.container.index
		h1 Search box
		form.panel.panel-default
			.form-group.col-md-2.col-xs-12.col-sm-3
				label(for="type") Type of result
				select.form-control#type
					option(value=0) Movies
					option(value=1) Series
			.form-group.col-md-5.col-sm-6.col-xs-12
				label(for="name" readonly="off") Enter your search
				input.form-control#name(placeholder="Type here...")
				ul.list-group#auto-complete