//- JQuery
script(src='node_modules/jquery/dist/jquery.min.js')

//- Bootstrap
script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')

//- Core
script(src='assets/js/core.js')

//- Core
script(src='assets/js/select.js')